.footer {
    padding: 48px 0;
    width: 100%;
    height: 160px;
    background: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1152px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    border-top: 1px solid #EAECF0;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        margin-bottom: 50px;
    }
}