.links {
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.link-button {
    padding: 24px 32px;
    width: 100%;
    text-align: center;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    font-weight: 500;
    height: 76px;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    margin: 10px 0;
    transition: 0.3s all ease;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.link-button:hover {
    background: #D0D5DD;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    gap: 40px;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .links {
        padding: 0;
        margin-top: 0;
    }
    .link-button {
        font-size: 14px;
        line-height: 20px;
        height: 68px;
        padding: 24px 20px;
    }
}